:root {
    --primary-color: #2e2e2e;
    --secondary-color: #3aafa9;
    --accent1-color: #0d3b66;
    --accent2-color: #ff6b35;
    --heading-font: 'Bebas Neue', 'Impact', 'Arial Black', Arial, sands-serif;
    --body-font: 'Montserrat','Helvetica Neue', Helvetica, Arial, sands-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;

}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
.hero article {
    position: absolute;
    background: var(--accent2-color);
    color: #fff;
    padding: 1rem;
}
.hero article img {
    float: right;
    width: 125px;
    border: 16px;
    margin: 1px;
}