:root {
    --primary-color: #2e2e2e;
    --secondary-color: #fff;
    --accent1-color: #0d3b66;
    --accent2-color: #ff6b35;
    --heading-font: 'Bebas Neue', 'Impact', 'Arial Black', Arial, sands-serif;
    --body-font: 'Montserrat','Helvetica Neue', Helvetica, Arial, sands-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
section h2{
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    width: 100%;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
  position: relative;
}
.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  background-color: var(--accent1-color);
  opacity: 0.8;
  color: var(--secondary-color);
}
.hero article{
  position: absolute;
  width: 100%;
  top: 60px;
  background-color: var(--accent2-color);
  margin-left: auto;
  opacity: 0.8;
  color: var(--primary-color);
  /* display: block; */
}
.hero article img{
  float: right;
  width: 150px;
  margin-left: 10px;
  text-align: left;
}
.hero img {
  display: block;
  width: 100%;
  height: auto;
}
footer .socialmedia img{
    width: 30px;
    height: auto;
}