:root {
    --primary-color: #2e2e2e;
    --secondary-color: #fff;
    --accent1-color: #0d3b66;
    --accent2-color: #ff6b35;
    --accent3-color: #E0B583;
    --heading-font: 'Bebas Neue', 'Impact', 'Arial Black', Arial, sands-serif;
    --body-font: 'Montserrat','Helvetica Neue', Helvetica, Arial, sands-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

header, footer {
    width: 1000px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--accent1-color);
}

.links {
    display: flex;
    list-style: none;
}

.links a {
    color: var(--accent3-color);
    text-decoration: none;
    padding: 1em;
    font-size: large;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

img {
    width: 100%;
}

figcaption {
    text-align: center;
}

.adventure {
    text-align: center;
    padding: 1rem;
}

.adventure h2 {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    font-family: var(--heading-font);
    width: 100%;
    padding: .5rem;
    grid-column: 1/-1;
    justify-self: center;
}

.history h2 {
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    font-family: var(--heading-font);
    width: 100%;
    padding: .5rem;
    grid-column: 1/-1;
    justify-self: center;
    margin: 10px;
}

.grid h2 {
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    font-family: var(--heading-font);
    width: 100%;
    padding: .5rem;
    grid-column: 1/-1;
    justify-self: center;
    margin: 10px;
}

.fig {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.fig figure {
    width: 150px;
    text-align: center;
}

.fig article {
    width: 12em;
    text-align: center;
}

.fig img {
    display: block;
    width: 100%;
    height: auto;
}

.fig figcaption {
    margin-top: 0.5rem;
    color: var(--accent1-color);
}

.help {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    align-items: center;
}

.help h2 {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    font-family: var(--heading-font);
    width: 100%;
    padding: .5rem;
    grid-column: 1/-1;
    text-align: center;
}

.help figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

.help img {
    width: 250px;
    height: 250px;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    background-color: var(--accent1-color);
    opacity: 0.8;
    color: var(--secondary-color);
}

.our-mission {
    text-align: center;
}

.hero h3 {
    color: var(--accent3-color);
    font-size: larger;
}

.hero article {
    position: absolute;
    width: 100%;
    top: 60px;
    background-color: var(--accent3-color);
    margin-left: auto;
    opacity: 0.9;
    color: var(--accent1-color);
    padding-bottom: 35px;
}

.hero article img{
    float: right;
    width: 150px;
    margin-left: 10px;
    text-align: left;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-newsletter {
    position: absolute;
    bottom: 30px;
    left: 33%;
    background-color: var(--accent1-color);
    padding: 20px;
    text-align: center;
    opacity: 0.95;
}

.socialmedia a {
    text-decoration: none;
    margin: 2px;
}

.socialmedia img{
    width: 30px;
    height: auto;
}

footer {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--accent3-color);
    background-color: var(--accent1-color);
}

.helmets {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    align-items: center;
    gap: 1rem;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    background-color: var(--accent3-color);
    color: var(--accent1-color);
}

.helmets img {
    display: block;
    width: 100%;
    height: auto;
}

.address {
    margin-bottom: 30px;
    text-align: center;
    background-color: var(--accent3-color);
}

.address h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: var(--accent1-color);
}

.address p {
    font-size: 16px;
    color: var(--accent1-color);
    margin: 2px 0;
}

.address-container {
    max-width: 400px;
    margin: 0 auto;
}

.map iframe {
    width: 100%;
    max-width: 600px;
    height: 350px;
    border: none;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

fieldset {
    border: 1px solid var(--primary-color);
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--accent3-color);
}

form {
    flex: 1;
    margin-top: 40px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: var(--accent1-color);
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    box-sizing: border-box;
}

.radio-group {
    display: flex;
    gap: 15px;
    align-items: center;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.radio-group label {
    font-size: 14px;
}

.action-call {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: var(--accent3-color);
    background-color: var(--accent1-color);
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}

.action-call h2{
    text-align: center;
    padding: 5px; 
}

.action-call a {
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    align-items: center;
}

.grid a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 0.5rem;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.newsletter h1 {
    font-size: x-large;
    color: var(--accent3-color);
    background-color: var(--accent1-color);
    padding: 10px 20px;
    font-family: var(--body-font);
}

.trip {
    text-align: center;
    padding: 1rem;
}

.trips h2 {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    font-family: var(--heading-font);
    width: 100%;
    padding: .5rem;
    grid-column: 1/-1;
    justify-self: center;
}

.div-trips {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 1.5rem;
}

.div-trips figure {
    max-width: 150px;
    text-align: center;
}

.div-trips article {
    width: auto;
    text-align: center;
}

.div-trips img {
    display: block;
    max-width: 100%;
    height: auto;
}

.div-trips p {
    margin-top: 0.5rem;
    color: var(--accent1-color);
    text-align: left;
}

.trip-table h2 {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    font-family: var(--heading-font);
    width: 100%;
    padding: 0.5rem;
    margin: 10px 0;
    text-align: center;
}

table {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    border: 2px solid var(--primary-color);
    border-spacing: 0;
    color: var(--accent1-color);
}

th {
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-align: center;
}

td {
    padding: 0.5rem 1rem;
    text-align: center;
    
}

.color {
    background-color: var(--accent3-color);
}

.trip-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent3-color);
    padding: 40px 0;
}

.trip-title-img {
    width: 600px;
    height: auto;
}

.trip-title-text {
    background-color: var(--accent1-color);
    padding: 30px 40px;
    max-width: 350px;
    color: var(--accent3-color);
}

.logo {
    border: 5px solid var(--accent1-color);
    background-color: var(--secondary-color);
}

.btn {
    padding: 10px 20px;
    background-color: var(--accent2-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    font-size: large;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}