:root {
    --primary-color: #044425;
    --secondary-color: #000000;
    --heading-font: 'Montserrat', 'Lora', Arial, sans-serif;
    --body-font: 'Roboto', 'Open Sans', Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0.5rem;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

body {
    font-family: var(--body-font);
    font-size: 1rem;
    color: #333;
    background: #f7f7f7;
}

header, h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    margin: 20px auto;
    width: 80%;
    max-width: 650px;
    font-size: 1.5rem;
}
h2{
    text-align: center;
}

form {
    width: 100%;
    margin: 20px auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 1rem;
    background-color: #c7c7c7;
    display: grid;
    gap: 1rem;
    max-width: 650px;
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 0;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
}

legend {
    color: var(--primary-color);
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
}

label {
    font-size: 1rem;
    font-weight: bold;
    padding-right: 1rem;
    text-align: left;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
}

input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
    vertical-align: bottom;
}

button {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #1D61A0;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #155a8a;
}

footer {
    margin: 20px auto;
    width: 80%;
    max-width: 650px;
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}