*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width: 500px;
    background-color: rgb(136, 135, 135);
    color: white;
}

h1{
    margin: .5rem;
}

form{
    background-color: #ddd;
    color: #111;
}

input, textarea, select, button{
    padding: .75rem;
    width: 350;
}
code{
    display: block;
    background-color: #111;
    color: #ddd;
}

button{
    background-color: navy;
    color: #ddd;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
}

.box{
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 1rem;
}

.quiz-item{
    border: none
}