table{
    border: 1px solid #808080;
    border-spacing: 0;
    height: 200px;
    width: 400px;
}

th{
    border: 1px solid #808080;
}

td{
    border: 1px solid #808080;
    text-align: center;
}

thead th, tfoot tr{
    background-color: #000;
    color: #fff;
}
.color{
    background-color: rgba(101, 99, 99, 0.5);
}

/* Teacher's Example */

/* table{
    border-collapse: collapse;
    border: 2px solid rgb(140, 140, 140);
    letter-spacing: 1px;
}

th, td{
    border: 1px solid rgb(150, 150, 150);
    padding: 8px 12px;
    text-align: center;
}
thead tr, tfoot tr{
    background-color: #000;
    color: white;
    font-weight: 700;
} */