:root {
    --border: 1px solid black;
    --padding: 10px;
    --height: auto;
    /* Not sure if --img will work */
    --img: width: 100%; height: auto;

}
nav {
    background-color: darkblue;
    padding: var(--padding);
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue
}
img {
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
main {
    max-width: 850px;
}
main img {
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: 1px;
    box-shadow: 0 0 30px gray;
}
aside {
    width: 50rem;
    margin: 0;
    border: var(--border);
    padding: var(--padding);
    background-color: gainsboro;
    color: black;
}
aside img {
    width: 200px;
    height: var(--height);
}
footer {
    margin-top: 2rem;
    border-top: var(--border);
    text-align: center;
}